* {
  box-sizing: border-box;
}

html, body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 50vw;
  height: 80vh;
  max-width: 640px;
  max-height: 480px;

  display: flex;
  color: #f3560d;
  /* color: #b75254; */
  background-color: black;
  border-radius: 6px;
  padding: 16px;
}

main img {
  object-fit: cover;
  height: calc(480px - 2 * 16px);
  max-height: 100%;
}

main > div:last-of-type {
  padding-left: 16px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

p {
  font-size: 42px;
  color: #FBD52D;
}

button {
  display: flex;
  justify-content: center;
  font-size: 28px;
  color: #fa6ead;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.arrow {
  animation: slide 1s ease-in-out infinite;
}

@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

@media (max-width: 480px) {
  body {
    align-items: flex-start;
  }

  main {
    width: 100vw;
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  main {
    width: 90vw;
  }
}